.timer p {
  display: inline;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 300px;
  background-color: #f5e6d3;
  font-family: "Courier New";
}

.timer {
  display: flex;
  align-items: center;
  background-color: #a67c52;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.timer p {
  font-size: 80px;
  font-weight: 800;
  color: #fff4e6;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .timer {
    padding: 20px 30px;
  }

  .timer p {
    font-size: 50px;
    margin: 0 5px;
  }
}
